@import url(reset.css);
@import url(common.css);
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap");

/* HEADERIS */

header {
  padding-left: 30px;
}

.logo {
  width: 100%;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
  padding-right: 30px;
  max-width: 100%;
}

.burger-menu {
  color: gray;
  font-size: larger;
}

/* HEADERIS BAIGIASI */
/* HERO PRASIDEDA */

.main-text {
  max-width: 63%;
  position: absolute;
}

.pink-nft {
  width: 100%;
  position: relative;
  left: 200px;
  bottom: 73px;
}

.above-title {
  text-transform: uppercase;
  color: #ff3998;
  margin-bottom: 30px;
}

.title {
  margin-bottom: 30px;
  font-size: 48px;
}

.sign-up-btn {
  padding: 20px 50px;
  margin-top: 30px;
  margin-bottom: 70px;
  background-color: transparent;
  border: 4px solid red;
  border-radius: 2rem;
}

.hero {
  padding: 30px;
  display: flex;
}

.paragraph {
  font-size: 21px;
  line-height: 150%;
  vertical-align: top;
  color: rgba(196, 196, 196, 1);
}

/* UPSELL */

.upsell {
  background-image: url(background.svg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 326px;
  margin: 80px 0px 40px 0px;
  padding: 110px 30px 30px;
}

.upsell-title {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  display: flex;
  align-items: flex-end;
  margin-bottom: 30px;
}

.upsell-subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

/* PRESS */

.press {
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* SHOWCASE */
.showcase-title {
  margin-bottom: 20px;
}

.showcase-subtitle {
  margin-bottom: 30px;
}

.card-info {
  display: flex;
  justify-content: space-between;
  background-color: rgba(238, 238, 238, 1);
}

.card-1 {
  max-width: 300px;
}

.cryto-price {
  display: flex;
}
