@import url(reset.css);
@import url(common.css);

/* HEADERIS */

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}

.burger-menu {
  color: gray;
  font-size: larger;
}

/* HEADERIS BAIGIASI */
/* HERO PRASIDEDA */

.above-title {
  text-transform: uppercase;
  color: #ff3998;
}

.paragraph {
  color: #555555;
  font-size: 20px;
  line-height: 30px;
  line-height: 150%;
  vertical-align: top;
}
